name: Run tests and linters

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: DeLaGuardo/setup-clj-kondo@master
      with:
        version: '2021.08.06'
        
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: lein deps

    - name: Run checks
      run: make checks

    - name: Run tests
      run: make test
